
body {
    height: 1500px;
}


.container {
    display: flex;
    justify-content: space-around;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpGa0yw4HprwWHX0Q5g9JGEtmyLVK1iHsENA&usqp=CAU");
    color: white;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    bottom: 30px;
    left: 10%;
    width: 80%;
}

.contact-butt {
    width: 100px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}


